
/**
 * Menu variabel ada disini
 */
$menu-toggle-width: 40px;
$menu-full-width: 300px;
$menu-color-1: #111;
$menu-color-2: #222;
$menu-color-3: #333;
$menu-color-4: #444;

/**
 * Movies variabel ada disini
 */

body {
	background-color: $menu-color-3;
}

@import 'menu';
@import 'movies';
@import 'pagination';
@import 'single';