
/**
 * Menu variabel ada disini
 */
$menu-toggle-width: 50px;
$menu-full-width: 300px;
$menu-color-1: #111;
$menu-color-2: #222;
$menu-color-3: #333;
$menu-color-4: #444;

/**
 * Movies variabel ada disini
 */

@import 'menu';
@import 'movies';
@import 'pagination';