.movies {

	padding-left: $menu-toggle-width;

	& > .row {
		margin-left: 0px;
	}

	.item {
		padding-right: 0px;
		padding-left: 0px;

		a:hover + .title {
			display: block;
		}

		a:focus + .title {
			display: block;
		}

		.title {
			position: absolute;
			bottom: 0px;
			width: 100%;
			height: 100%;
			color: #FFFFFF;
			background-color: $menu-color-4;
			opacity: 0.7;
			display: none;
		}
		
	}
}
