.movies {

	padding-left: $menu-toggle-width;

	& > .row {
		margin-left: 0px;
	}

	/**
	 * Style untuk di home / fronpage
	 * Mengatur style untuk per item movie
	 */
	.item {
		padding-right: 0px;
		padding-left: 0px;

		

		.title {
			position: absolute;
			bottom: 0px;
			width: 100%;
			height: 100%;
			color: #FFFFFF;
			background-color: $menu-color-4;
			opacity: 0.7;
			display: none;

			a {
				text-decoration: none;
				color: #FFFFFF;
			}

			h2 {
				position: absolute;
				bottom: 20px;
				width: 100%;
			}
		}
		
	}
}
