.paging {
	position: fixed;
	right: 0px;
	bottom: 8px;
	width: auto;
}

.wp-pagenavi {
	.pages {
		display: none;
	}

	.first {
		background-color: #111111;
		padding: 10px;
		color: #FFF;
	}

	.last {
		background-color: #111111;
		padding: 10px;
		color: #FFF;
	}

	.previouspostslink {
		background-color: #111111;
		padding: 10px;
		color: #FFF;

	}

	.nextpostslink {
		background-color: #111111;
		padding: 10px;
		color: #FFF;
	}

	.extend {
		padding: 10px;
		background-color: #CCCCCC;
		color: #000000;
	}

	.page {
		&.smaller {
			background-color: #FFFFFF;
			padding: 10px;
			color: #000000;
		}

		&.larger {
			background-color: #FFFFFF;
			padding: 10px;
			color: #000000;
		}
	}

	.current {
		background-color: #CCCCCC;
		padding: 10px;
		color: #000000;
		font-weight: bold;
	}
}